/*general styles*/
html {
  font-family: 'Open Sans', serif;
}

body {
  font-size: 2em;
  background-color: #BFEBEA;
  text-align: center;
}

h1 {
  padding: 0.5em;
  font-size: 2.5em;
}

input {
  width: 30rem;
  height: 3rem;
  background: #F2F2F2;
  border: 1px solid #CCCCCC;
  border-radius: 2rem;
  outline: none;
  font-size: 1.5rem;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 1.5rem;
}

/*header*/

/*nav*/

/*content*/

.SearchGifs {
  margin-top: 300px;
}

.gif-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height:100vh;
}

.gif-list-item {
  display: flex;
  margin: 0.5rem;
}

/*footer*/
