/*general styles*/
html {
  font-family: 'Open Sans', serif;
}

body {
  font-size: 25px;
  background-color: black;
  text-align: center;
}

h1 {
  margin: 2vw;
  font-size: 60px;
  color: #F2F2F2;
}

input {
  width: 450px;
  height: 3rem;
  background: #F2F2F2;
  border-radius: 2rem;
  outline: none;
  font-size: 20px;
  color: #737373;
  text-indent: 1rem;
}

/*content*/
.SearchGifs {
  margin-top: 30vh;
}

.gif-list {
  width: 90vw;
  margin: 2vw auto;
}

.gif-list-item {
  transition: left 0.5s;
  margin: .25vw;
  background-color: #F2F2F2;
  border-radius: 0px 0px 5px 5px;
}

img {
  width: 22vw;
}

img:hover {
  cursor: pointer;
}

.share-btn {
  display: inline-block;
  padding: 5px;
  float: right;
}

.share-btn:hover {
  cursor: pointer;
}

/*responsive*/
@media(max-width: 500px) {
  h1 {
    margin: 2vw;
    font-size: 45px;
  }

  input {
    width: 90vw;
    font-size: 20px;
    letter-spacing: 0px;
  }

  .gif-list {
    width: 90vw;
  }

  .gif-list-item {
    margin: 5px auto;
  }

  img {
    width: 90vw;
  }
}
